<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="splash">OGL</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="splash">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="customer">Customers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="product">Products</a>
      </li>

    </ul>

  </div>
</nav>

  <h1 class="text-center">OGL Customer & Product Manager Exercise</h1>
<div  class="my-min-height">
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8d1iBQ1pqeXe_OTdB4KigqwKF6NsVlIE"></script>

  <router-outlet/>
</div>







