<form [formGroup]="addForm">
  <div class="modal-header">
    <div class=" ">{{this.mode}} Product</div>
  </div>


  <div class="modal-body ">
    <!-- TODO -> could go for an accordian type effect here -->
    <div class="row ">
      <div class="col-sm-12">
        <div class="card card-default">
          <div class="card-body ">
            <div class="form-group row mt-3">
              <label for="descInput" class="col-sm-4 col-form-label">Description</label>
              <div class="col-sm-12 input-group">
                <input type="text" class="form-control" id="descInput" formControlName="descInput" />
              </div>
            </div>
            <div class="text-danger">
              <div *ngIf="(descInput?.dirty) && descInput?.errors?.['required']">This field is
                required.</div>
              <div *ngIf="(descInput?.dirty) && descInput?.errors?.['minlength']">Minimum length is 3.</div>
            </div>

            <div class="form-group row mt-3">
              <label for="skuInput" class="col-sm-4 col-form-label">SKU</label>
              <div class="col-sm-12 input-group">
                <input class="form-control" id="skuInput" formControlName="skuInput" />
              </div>

              <div class="text-danger">
                <div *ngIf="(skuInput?.dirty) && skuInput?.errors?.['required']">This field is
                  required.</div>
                <div *ngIf="(skuInput?.dirty) && skuInput?.errors?.['minlength']">Minimum length is 3.</div>
              </div>
            </div>

            <div class="form-group row mt-3">
              <label for="priceInput" class="col-sm-4 col-form-label">Price</label>
              <div class="col-sm-12 input-group">
                <input class="form-control" id="priceInput" formControlName="priceInput"  (keypress)="validateNumber($event)"/>
              </div>

              <div class="text-danger">
                <div *ngIf="(priceInput?.dirty) && priceInput?.errors?.['required']">This field is required.</div>
                <div *ngIf="(priceInput?.dirty) && priceInput?.errors?.['min']">Minimum £0.01.</div>
                <div *ngIf="(priceInput?.dirty) && priceInput?.errors?.['max']">Maximum £1000000</div>
                <div *ngIf="(priceInput?.dirty) && priceInput?.errors?.['pattern']">Please enter numbers to 2 decimal places.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</form>

<div class="modal-footer">
  <button class="btn btn-light float-end" type="button" [disabled]="this.NotSavable()"
    (click)="this.Save()">Save</button>
  <button class="btn btn-light float-end" type="button" (mousedown)="this.Clear()" (click)="this.Cancel()">Cancel</button>
</div>
